<%= form_with(model: user_address) do |form| %>
  <% if user_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_address.errors.count, "error") %> prohibited this user_address from being saved:</h2>

      <ul>
        <% user_address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control", placeholder: "" %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control", placeholder: "" %>
  </div>

  <div class="field">
    <%= form.label :pincode %>
    <%= form.number_field :pincode, class: "form-control", placeholder: "" %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, class: "form-control", placeholder: "" %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, class: "form-control", placeholder: "" %>
  </div>

  <div class="field">
    <%= form.label :phn_no %>
    <%= form.text_field :phn_no, class: "form-control", placeholder: "" %>
  </div>

  <div class="field">
    <%= form.label :residencial_phn_no %>
    <%= form.text_field :residencial_phn_no, class: "form-control", placeholder: "" %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: "form-control", placeholder: "" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-secondary"%>
  </div>
<% end %>
