<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @user_address.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_address.city %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @user_address.pincode %>
</p>

<p>
  <strong>State:</strong>
  <%= @user_address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user_address.country %>
</p>

<p>
  <strong>Phn no:</strong>
  <%= @user_address.phn_no %>
</p>

<p>
  <strong>Residencial phn no:</strong>
  <%= @user_address.residencial_phn_no %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_address.user_id %>
</p>

<%= link_to 'Edit', edit_user_address_path(@user_address), class: "btn btn-outline-secondary" %> 
<%= link_to 'Back', user_addresses_path, class: "btn btn-outline-dark" %>
