<h1>Welcome to Ecommerce</h1>
<p>India's top shopping site </p>

<div class="container">
  <% @products.each do |product|%>
    <div class="row">
      <div class="col-md-4">
        <h4><%= product.name %></h4>
        <p> <%= product.deescription%></p>
        <h6><%= product.price %></h6>
        <p><%= product.tax %></p>
        <p><%= product.final_value %></p>
        <p> <%= product.status%></p>
      </div>
    </div>
  <% end %>
</div>
