<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tracking_number %>
    <%= form.number_field :tracking_number %>
  </div>

  <div class="field">
    <%= form.label :order_placed_date %>
    <%= form.date_select :order_placed_date %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :enum %>
    <%= form.text_field :enum %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :user_address_id %>
    <%= form.text_field :user_address_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
