<p id="notice"><%= notice %></p>

<p>
  <strong>Tracking number:</strong>
  <%= @order.tracking_number %>
</p>

<p>
  <strong>Order placed date:</strong>
  <%= @order.order_placed_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Enum:</strong>
  <%= @order.enum %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>User address:</strong>
  <%= @order.user_address_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
