<p id="notice"><%= notice %></p>

<h1>Cart Items</h1>

<table class="table table-striped table-hover table-bordered ">
  <thead class="table-primary">
    <tr>
      <th>Base price</th>
      <th>Discount</th>
      <th>Tax</th>
      <th>Total price</th>
      <th>Product</th>
      <th>Cart</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.base_price %></td>
        <td><%= cart_item.discount %></td>
        <td><%= cart_item.tax %></td>
        <td><%= cart_item.total_price %></td>
        <td><%= cart_item.product_id %></td>
        <td><%= cart_item.cart_id %></td>
        <td><%= link_to 'Show', cart_item, class: "btn btn-outline-secondary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_cart_item_path(cart_item), class: "btn btn-outline-secondary btn-sm" %></td>
        <td><%= link_to 'Destroy', cart_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart Item', new_cart_item_path, class: "btn btn-outline-secondary" %>
