<p id="notice"><%= notice %></p>

<p>
  <strong>Base price:</strong>
  <%= @cart_item.base_price %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @cart_item.discount %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @cart_item.tax %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @cart_item.total_price %>
</p>

<p>
  <strong>Product:</strong>
  <%= @cart_item.product_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @cart_item.cart_id %>
</p>

<%= link_to 'Edit', edit_cart_item_path(@cart_item), class: "btn btn-outline-secondary" %> 
<%= link_to 'Back', cart_items_path, class: "btn btn-outline-dark" %>
