<p id="notice"><%= notice %></p>

<h1>Order Items</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class= "table-primary">
    <tr>
      <th>Item quantity</th>
      <th>Item price</th>
      <th>Order</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.item_quantity %></td>
        <td><%= order_item.item_price %></td>
        <td><%= order_item.order_id %></td>
        <td><%= order_item.product_id %></td>
        <td><%= link_to 'Show', order_item, class: "btn btn-outline-secondary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_order_item_path(order_item), class: "btn btn-outline-secondary btn-sm" %></td>
        <td><%= link_to 'Destroy', order_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Item', new_order_item_path, class: "btn btn-outline-secondary" %>
