<%= form_with(model: product_review) do |form| %>
  <% if product_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_review.errors.count, "error") %> prohibited this product_review from being saved:</h2>

      <ul>
        <% product_review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br />

  <div class="field">
    <% form.label :review %>
    <%= form.text_field :review, class: "form-control", placeholder: "Add reviews" %>
  </div>

<br />

  <div class="field">
    <% form.label :rating %>
    <%= form.number_field :rating, class: "form-control", placeholder: "Rate the product" %>
  </div>

<br />

  <div class="field">
    <% form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <% form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>


  <div class="actions">
    <%= form.submit class: "btn btn-outline-secondary" %>
  </div>
<% end %>
