<%= form_with(model: shipmment_item) do |form| %>
  <% if shipmment_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipmment_item.errors.count, "error") %> prohibited this shipmment_item from being saved:</h2>

      <ul>
        <% shipmment_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :shipment_id %>
    <%= select_tag "shipment_id", options_from_collection_for_select(@shipments, "id", "id"), class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :order_item_id %>
    <%= select_tag "order_item_id", options_from_collection_for_select(@order_items, "id", "id"), class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-secondary"%>
  </div>
<% end %>
