<p id="notice"><%= notice %></p>

<table class="table table-striped table-hover table-bordered">
  <thead class= "table-primary">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Discount price</th>
      <th>Tax</th>
      <th>Final value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.deescription %></td>
        <td><%= product.price %></td>
        <td><%= product.discount_price %></td>
        <td><%= product.tax %></td>
        <td><%= product.final_value %></td>
        <td><%= link_to 'Show', product, class: "btn btn-outline-secondary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-outline-secondary btn-sm" %></td>
        <td><%= button_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: "btn btn-outline-secondary" %>
