<p id="notice"><%= notice %></p>

<p>
  <strong>Shipment date:</strong>
  <%= @shipment.shipment_date %>
</p>

<p>
  <strong>Details:</strong>
  <%= @shipment.details %>
</p>

<p>
  <strong>Order:</strong>
  <%= @shipment.order.tracking_number%>
</p>

<% if can? :update, @shipment%>
<%= link_to 'Edit', edit_shipment_path(@shipment), class: "btn btn-outline-secondary" %> |
<% end %>
<%= link_to 'Back', shipments_path, class: "btn btn-outline-dark" %>
